#contact iframe
{
    width: 100%;
}
.travel_mainDiv {
     border : 1px solid rgb(0, 255, 34); }
     .travel_mainDiv img {
         width: 100%; }
         
         
         .filmeHead

         {
         
              font-size: 20px;
         
              padding: 6px 22px;
         
              border-radius: 10px;
         
              margin-bottom: 15px;
         
         }       
         
         .filmeHead i

{

     float: right;

}
.filmeText span { color: rgb(255, 238, 0); }


         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
